<ion-header class="header">
  
  <img class="titlelogo" src="../../assets/img/Image 1@3x.png">
  <img class="bell" src="../../assets/img/bell.svg"><div class="noti-number"><ion-label></ion-label></div>
  <img class="home" src="../../assets/img/browser.svg">
</ion-header>

<ion-content >
<div style="width: 100%; height: 100%;">
  <div style="width: 19%; height: 100%; float: right; background-color: #efefef; ">
    <ion-label class="welcome-text">Welcome Back</ion-label>
    <img  class="profile-pic" src="../../assets//img/user (1)@3x.png">
    <ion-label class="profile-name">Martha Wayne</ion-label><br>
    <ion-label class="progile-role">Lead Production Manager</ion-label>
    
  </div>
 
  <div style="width: 81%;height: 100%; float: left;">

  </div>

</div>


</ion-content>
