

<ion-content>
  
  <img class="mainimg" src="../../assets/img/imgpsh_mobile_save-1.png"> 
    <div class="logodiv">
      <img class="logotxt" src="../../assets/img/Image 1@3x.png">
    </div>
    <ion-label class="welcome">Welcome!</ion-label>
    <ion-label class="signin">Sign in to your Account</ion-label>
    <form [formGroup]="reactive_signin">
    <fieldset class="userfeild">
      <legend class="Username">Username</legend>
      <ion-input type="text" formControlName="username" required class="userinput"></ion-input>
      <img src="../../assets/img/user (1)@3x.png" class="userlogo">
    </fieldset>

    <fieldset class="passfeild">
      <legend class="password">Password</legend>
      <ion-input type="password" formControlName="password" required class="passinput"></ion-input>
      <img src="../../assets/img/eye@3x.png" class="passlogo">
    </fieldset>
    <button  (click)="onClickSubmit()"  class="btn">Login</button>
  </form>
</ion-content>
