<body style="overflow: auto;">
  <ion-header class="header">
    <ion-label class="name">Hello {{displayname}}</ion-label>
    <ionlabel class="A-and-P">Approved and Pending Tickets</ionlabel>
    <img class="bell" src="../../assets/img/bell.svg">
    <div class="noti-number">9</div>
    <img class="pic" src="../../assets/img/user (1)@3x.png">

  </ion-header>

  <ion-content  >
    <div style="width: 100% ; height: 100%; margin-top: 10%;" fxLayoutAlign="start center" fxLayoutGap="30px"
      fxLayout="column">
      <ion-card class="card" (click)="onCLickTo()">
        <ion-card-header style="height: 19%; width: 100%; border-bottom:2px solid  #e2e2e2;" fxLayout="row">
          <div fxFlex="55" fxLayoutAlign="start center">
            <ion-label class="title">APPROVED / PENDING INVOICES</ion-label>
          </div>
          <div fxFlex>

          </div>
          <div fxFlex="20" style="background-color: #e2e2e2; height: 90%;" fxLayoutAlign="center center">
            <ion-label style="font-size: 1.6vw;">PAST 7 DAYS</ion-label>
          </div>
          <div fxFlex="5" fxLayoutAlign="center center">
            <img src="../../assets/img/adjust.svg">
          </div>
        </ion-card-header>

        <ion-card-content style="width: 100%; height: 100%;">
          <div style="width: 100%; height: 100%;" fxLayout="row">
            <div fxFlex="50" fxLayoutAlign="center center">
              <canvas #doughnutCanvas></canvas>
            </div>
            <div fxFlex="50" fxLayout="column">
              <div fxFlex fxLayout="column">

                <div fxFlex fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="15px">
                  <span
                    style=" height: 1.8vh; width: 3.3vw; background-color: #fb7800; border-radius: 50%; display: inline-block;"></span>
                  <ion-label class="label">INVOICE DISPATCHED</ion-label>
                </div>

                <div fxFlex fxLayoutAlign="start center" fxLayoutGap="15px">
                  <span
                    style=" height: 1.8vh; width: 3.3vw; background-color: #4452c6; border-radius: 50%; display: inline-block;"></span>
                  <ion-label class="label">POD CONFIRMED</ion-label>
                </div>

              </div>


              <div fxFlex="70" fxLayout="column" fxLayoutGap="15px">
                <div fxFlex="10"></div>
                <div>
                  <ion-label>Approved ({{invoicechartdata.ConfirmedInvoices}}/{{invoicechartdata.TotalInvoices}})
                  </ion-label>

                  <ion-progress-bar color="success" id="prog1" value="{{confirmedinvoices}}"></ion-progress-bar>
                </div>
                <div>
                  <ion-label>Pending ({{invoicechartdata.PendingInvoices}}/{{invoicechartdata.TotalInvoices}})
                  </ion-label>

                  <ion-progress-bar color="success" id="prog2" value="{{pendinginvoices}}"></ion-progress-bar>
                </div>
              </div>

            </div>
          </div>


        </ion-card-content>
      </ion-card>


      <ion-card class="card">
        <ion-card-header style="height: 19%; width: 100%; border-bottom:2px solid  #e2e2e2;" fxLayout="row">
          <div fxFlex="53" fxLayoutAlign="start center">
            <ion-label class="title">DELIVERY STATUS</ion-label>
          </div>
          <div fxFlex>

          </div>
          <div fxFlex="20" style="background-color: #e2e2e2; height: 90%;" fxLayoutAlign="center center">
            <ion-label style="font-size: 1.6vw;">PAST 7 DAYS</ion-label>
          </div>
          <div fxFlex="5" fxLayoutAlign="center center">
            <img src="../../assets/img/adjust.svg">
          </div>
        </ion-card-header>

        <ion-card-content style="width: 100%; height: 100%;">
          <div style="width: 100%; height: 100%;" fxLayout="row">
            <div fxFlex="50" fxLayoutAlign="center center">
              <canvas #doughnutCanvas1></canvas>
            </div>
            <div fxFlex="50" fxLayout="column">
              <div fxFlex fxLayout="column">

                <div fxFlex fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="15px">
                  <span
                    style=" height: 1.8vh; width: 3.3vw; background-color: #52de97; border-radius: 50%; display: inline-block;"></span>
                  <ion-label class="label">ON-TIME DELIVERY</ion-label>
                </div>

                <div fxFlex fxLayoutAlign="start center" fxLayoutGap="15px">
                  <span
                    style=" height: 1.8vh; width: 3.3vw; background-color: #eff54f; border-radius: 50%; display: inline-block;"></span>
                  <ion-label class="label">LATE DELIVERY</ion-label>
                </div>

              </div>


              <div fxFlex="60" fxLayout="column" fxLayoutGap="15px">
                <div fxFlex="20"></div>

                <div fxLayout="column">
                  <ion-label>Total Deliveries</ion-label>
                  <ion-label>
                    <ion-label style="color: #51dd96;">{{this.deliverychartdata.InLineDelivery}}</ion-label>
                    /{{this.deliverychartdata.TotalDelivery}}
                  </ion-label>
                  <ion-progress-bar color="success" id="prog3" value="{{inline}}"></ion-progress-bar>
                </div>
              </div>

            </div>
          </div>


        </ion-card-content>
      </ion-card>

    </div>



  </ion-content>

</body>