<ion-header class="header">
  <ion-label class="name">Hello Casandra Mariya,</ion-label>
  <ionlabel class="A-and-P">Approved and Pending Tickets</ionlabel>
  <img class="bell" src="../../assets/img/bell.svg"><div class="noti-number">9</div>
  <img class="pic" src="../../assets/img/user (1)@3x.png">
</ion-header>

<ion-content>
  <div style="height: 40px; width: 100%; margin-bottom: 10px; "> 
    <ion-toolbar style="position: fixed;">  
      <ion-segment (ionChange)="segmentChanged($event)"  [(ngModel)]="segment" mode="md" color="primary">  
        <ion-segment-button value="0">  
          <ion-label>Approved</ion-label>  
          
        </ion-segment-button>  
        <ion-segment-button value="1">  
          <ion-label>Pending</ion-label>  
          
        </ion-segment-button>  
        
      </ion-segment>  
    </ion-toolbar>  
  </div>
  <ion-slides #slides (ionSlideDidChange)="slideChanged()" scrollbar="true">  
    <ion-slide>
      <div class="card-div"
  fxLayout="column"
     fxLayout.sm="column" fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">
    <ion-card  *ngFor="let d of approvedinvoicedata" class="card" (click)="onClicknavigate(d)">
      <ion-card-header class="card-header"><ion-label class="invoiceno">INVOICE NO : <ion-label class="num">{{d.INV_NO}}</ion-label> </ion-label ></ion-card-header>
      <ion-card-content style="padding: 0%; width: 100%; height: 100%;">
        <div class="cardbody">
           
            <div>
              <ion-label class="vehicle1">Vehicle No:</ion-label><br>
              <ion-label class="vehicleno1">{{d.VEHICLE_NO}}</ion-label>
              
              
            </div>
            <div>
           
              <ion-label class="eway1"> Ewaybill No:</ion-label><br>
            
            <ion-label class="ewaybill1">{{d.EWAYBILL_NO}}</ion-label>
            
            
          </div>
          
          <div >
            <ion-label class="outbound1">Outbound Delivery:</ion-label><br>
            <ion-label class="outbounddelivery1">{{d.OUTBOUND_DELIVERY}}</ion-label>
          </div>
        </div>
        <div>
         <button class="view" (click)="handleButtonClick()" ><ion-label class="view-txt">View Details</ion-label></button>
         <button class="confirm">
          <ion-label class="con-txt"><img class="tick" src="../../assets/img/tick (3).svg">Confirm</ion-label>
        </button>
        </div>      
      </ion-card-content>
    </ion-card>
  </div>

    </ion-slide>  



    





    <ion-slide>

      <div class="card-div"
      fxLayout="column"
         fxLayout.sm="column" fxLayout.lg="row" fxLayout.xs="column">
         <ion-card  *ngFor="let d of pendinginvoicedata" class="card" (click)="onClicknavigate(d)">
          <ion-card-header class="card-header"><ion-label class="invoiceno">INVOICE NO : <ion-label class="num">{{d.INV_NO}}</ion-label> </ion-label ></ion-card-header>
          <ion-card-content style="padding: 0%; width: 100%; height: 100%;">
            <div class="cardbody">
               
                <div>
                  <ion-label class="vehicle1">Vehicle No:</ion-label><br>
                  <ion-label class="vehicleno1">{{d.VEHICLE_NO}}</ion-label>
                  
                  
                </div>
                <div>
               
                  <ion-label class="eway1"> Ewaybill No:</ion-label><br>
                
                <ion-label class="ewaybill1">{{d.EWAYBILL_NO}}</ion-label>
                
                
              </div>
              
              <div >
                <ion-label class="outbound1">Outbound Delivery:</ion-label><br>
                <ion-label class="outbounddelivery1">{{d.OUTBOUND_DELIVERY}}</ion-label>
              </div>
            </div>
            <div>
             <button class="view" (click)="handleButtonClick()" ><ion-label class="view-txt">View Details</ion-label></button>
             <button class="confirm">
              <ion-label class="con-txt"><img class="tick" src="../../assets/img/tick (3).svg">Confirm</ion-label>
            </button>
            </div>      
          </ion-card-content>
        </ion-card>
      </div>


    </ion-slide>  
    
  </ion-slides>  
  
  
</ion-content>
